<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %> 
    <title>Blog error</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 

    <main class="container">
    <section>
        <h4 class="display-4">BLOGS</h4>
    </section>
    
    <%- include('../partials/flash.ejs') %>

    </main>
  


    <%- include('../partials/footer.ejs') %> 
    
</body>
</html>


