<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Registration</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <div class="container "  style="margin-top:2rem;margin-bottom:5rem;width:80vw">


        <%- include('../partials/flash') %>
      <section>
        <h4 class="display-5">Register</h4>
     </section>

    <div class="row">
      <div class="col-lg-6">
        <form action="/register" method="POST" class="needs-validation" style="margin:10px auto " novalidate>
          <div class="mb-3">
            <label for="Username" class="form-label"
              >Username:</label
            >
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Username"
              required
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label"
              >Email:</label
            >
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"
              >Password:</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          
          <div class="mbl-3">
            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <%- include('../partials/footer.ejs') %>
  </body>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>
</html>
