  <footer id="footer" class="bg-dark text-center text-white text-lg-start " >
    <div class="container" >
      <div class="copyright">
        &copy; Copyright <strong><span>BloggApp</span></strong>. All Rights Reserved

      </div>
    </div>
  </footer>
