<!-- <footer class="bg-dark text-center text-white text-lg-start ">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="#">Powered by Bootstrap & ejs</a>
    </div>
  </footer> -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BloggApp</span></strong>. All Rights Reserved

      </div>
      <div class="credits">
      </div>
    </div>
  </footer>
